{% extends "base.html" %}

{% block content %}
<section class="section mt-0 pt-0">
    <div class="container">
        <h1 class="title has-text-centered has-text-light">Edit Animal</h1>
        <form method="post" class="box has-background-info-light">
            {{ form.hidden_tag() }}
            <div class="columns is-multiline">
                <div class="column is-half">
                    <div class="field">
                        {{ form.name.label(class="label has-text-dark") }}
                        <div class="control">
                            {{ form.name(class="input has-text-dark has-background-light") }}
                        </div>
                    </div>
                    <div class="field">
                        {{ form.animal.label(class="label has-text-dark") }}
                        <div class="control">
                            {{ form.animal(class="input has-text-dark has-background-light") }}
                        </div>
                    </div>
                    <div class="field">
                        {{ form.breed.label(class="label has-text-dark") }}
                        <div class="control">
                            {{ form.breed(class="input has-text-dark has-background-light") }}
                        </div>
                    </div>
                    <div class="field">
                        {{ form.gender.label(class="label has-text-dark") }}
                        <div class="control">
                            {{ form.gender(class="input has-text-dark has-background-light") }}
                        </div>
                    </div>
                    <div class="field">
                        {{ form.age.label(class="label has-text-dark") }}
                        <div class="control">
                            {{ form.age(class="input has-text-dark has-background-light", type="number") }}
                        </div>
                    </div>
                    <div class="field">
                        {{ form.weight.label(class="label has-text-dark") }}
                        <div class="control">
                            {{ form.weight(class="input has-text-dark has-background-light", type="number") }}
                        </div>
                    </div>
                    <div class="field">
                        {{ form.height.label(class="label has-text-dark") }}
                        <div class="control">
                            {{ form.height(class="input has-text-dark has-background-light", type="number") }}
                        </div>
                    </div>
                </div>
                <div class="column is-half">
                    <div class="field">
                        {{ form.training_status.label(class="label has-text-dark") }}
                        <div class="control">
                            {{ form.training_status(class="input has-text-dark has-background-light") }}
                        </div>
                    </div>
                    <div class="field">
                        {{ form.acquisition_date.label(class="label has-text-dark") }}
                        <div class="control">
                            {{ form.acquisition_date(class="input has-text-dark has-background-light", type="date") }}
                        </div>
                    </div>
                    <div class="field">
                        {{ form.acquisition_country.label(class="label has-text-dark") }}
                        <div class="control">
                            {{ form.acquisition_country(class="input has-text-dark has-background-light") }}
                        </div>
                    </div>
                    <div class="field">
                        {{ form.in_service_country.label(class="label has-text-dark") }}
                        <div class="control">
                            {{ form.in_service_country(class="input has-text-dark has-background-light") }}
                        </div>
                    </div>
                    <div class="field">
                        {{ form.body_length.label(class="label has-text-dark") }}
                        <div class="control">
                            {{ form.body_length(class="input has-text-dark has-background-light", type="number") }}
                        </div>
                    </div>
                    <div class="field">
                        {{ form.tail_length.label(class="label has-text-dark") }}
                        <div class="control">
                            {{ form.tail_length(class="input has-text-dark has-background-light", type="number") }}
                        </div>
                    </div>
                    <div class="field">
                        {{ form.reserved.label(class="label has-text-dark") }}
                        <div class="control">
                            <div class="select is-fullwidth">
                                {{ form.reserved(class="has-background-light has-text-dark") }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column is-half">
                    <div class="field is-grouped">
                        <div class="control">
                            {{ form.submit(class="button is-link") }}
                        </div>
                        <div class="control">
                            <a class="button is-light" href="{{ url_for('main.inventory_list', page=page) }}">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="columns">
            <div class="column is-half is-offset-one-quarter">
                <form method="post" action="{{ url_for('main.delete', id=item.id, page=page) }}" onsubmit="return confirmDelete();">
                    {{ form.hidden_tag() }}
                    <button type="submit" class="button is-danger is-fullwidth">Delete</button>
                </form>
            </div>
        </div>
    </div>
</section>

<script>
    function confirmDelete() {
        return confirm('Are you sure you want to delete this record?');
    }
</script>
{% endblock %}
