{% extends "base.html" %}

{% block content %}
<section class="section mt-0 pt-0">
    <div class="container">
        <h1 class="title has-text-centered has-text-light">Current Animal Inventory</h1>

        <!-- Check and show flash messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="notification is-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <div class="content">
            <form method="get" action="{{ url_for('main.inventory_list') }}" class="box has-background-info-light">
                {{ form.hidden_tag() }}
                <div class="columns is-multiline is-centered">
                    <div class="column is-one-third">
                        <div class="field has-text-centered">
                            {{ form.name.label(class="label has-text-dark") }}
                            <div class="control">
                                {{ form.name(class="input has-text-dark has-background-light", placeholder="Search by name") }}
                            </div>
                        </div>
                        <div class="field has-text-centered">
                            {{ form.breed.label(class="label has-text-dark") }}
                            <div class="control">
                                {{ form.breed(class="input has-background-light has-text-dark", placeholder="Search by breed") }}
                            </div>
                        </div>
                    </div>
                    <div class="column is-one-third">
                        <div class="field has-text-centered">
                            {{ form.gender.label(class="label has-text-dark") }}
                            <div class="control">
                                <div class="select is-fullwidth">
                                    {{ form.gender(class="has-background-light has-text-dark") }}
                                </div>
                            </div>
                        </div>
                        <div class="field has-text-centered">
                            {{ form.training_status.label(class="label has-text-dark") }}
                            <div class="control">
                                <div class="select is-fullwidth">
                                    {{ form.training_status(class="has-background-light has-text-dark") }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column is-one-third">
                        <div class="field has-text-centered">
                            {{ form.in_service_country.label(class="label has-text-dark") }}
                            <div class="control">
                                <div class="select is-fullwidth">
                                    {{ form.in_service_country(class="has-background-light has-text-dark") }}
                                </div>
                            </div>
                        </div>
                        <div class="field has-text-centered">
                            {{ form.reserved.label(class="label has-text-dark") }}
                            <div class="control">
                                <div class="select is-fullwidth">
                                    {{ form.reserved(class="has-background-light has-text-dark") }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columns is-centered">
                    <div class="column is-one-third has-text-centered">
                        <div class="field">
                            <div class="control">
                                {{ form.submit(class="button is-link is-fullwidth") }}
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            {% if items %}
            <div class="columns is-multiline">
                {% for item in items %}
                    <div class="column is-half">
                        <div class="box has-background-info-light">
                            <article class="media">
                                <div class="media-left">
                                    <!--Passes current page number so edit can pass it back and put user on same page-->
                                    <a href="{{ url_for('main.edit', id=item.id, page=request.args.get('page', 1)) }}" class="button is-link">ID: {{ item.id }}</a>
                                </div>
                                <div class="media-content">
                                    <div class="content has-text-dark">
                                        <p style="text-align: left; width: 50%; display: inline-block;" class="has-text-dark">
                                            <strong>{{ item.name }}</strong> [Rescue {{ item.animal }}]
                                        </p>
                                        {% if item.reserved %}
                                        <p class="has-text-danger" style="text-align: right; width: 49%; display: inline-block;">
                                            <strong>[RESERVED]</strong>
                                        </p>
                                        {% else %}
                                        <!--blank filler if not reserved to preserve alignment-->
                                        <p style="text-align: right; width: 49%; display: inline-block;"></p>
                                        {% endif %}
                                        <p class="has-text-dark">
                                            [
                                            <strong>Breed:</strong> {{ item.breed }} | 
                                            <strong>Gender:</strong> {{ item.gender }} | 
                                            <strong>Age:</strong> {{ item.age }} |  
                                            <strong>Weight:</strong> {{ item.weight }} |
                                            <strong>Height:</strong> {{ item.height }} |
                                            <strong>Tail Length:</strong> {{ item.tail_length }} |
                                            <strong>Body Length:</strong> {{ item.body_length }}
                                            ]
                                        </p>
                                        <p class="has-text-dark" style="text-align: left; width: 49%; display: inline-block;">
                                            <strong>Location:</strong> {{ item.in_service_country }}
                                        </p>
                                        <p class="has-text-dark" style="text-align: right; width: 50%; display: inline-block;">
                                            <strong>Training:</strong> {{ item.training_status }}
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% else %}
            <div class="notification is-warning">
                No items match your search criteria.
            </div>
            {% endif %}
        </div>
        <nav class="pagination is-centered" role="navigation" aria-label="pagination">
            {{ pagination.links }}
        </nav>
    </div>
</section>
{% endblock %}