{% extends "base.html" %}

{% block content %}
<section class="section mt-0 pt-0">
    <div class="container">
        <h1 class="title has-text-centered has-text-light">
            R.A.I.N.
        </h1>
        <h2 class="subtitle has-text-centered has-text-light">
            Sort Method Performance Demonstration
        </h2>

        <div class="content box has-text-left has-background-info-light">
            <p>
                A list of 100k animal objects was created and mixed into a randomized order to test three of the most popular
                sorting algorithms. Each sort algorithm was started with its own copy of the original randomized list to
                ensure that all tests were run with the exact same data. Refresh this page to generate new data and results.
            </p>
        </div>

        <h3 class="title is-4 has-text-light">Sort Result Times</h3>
        <div class="content box has-background-info-light">
            <div class="columns">
                <div class="column is-one-third has-text-dark">
                    <strong>Sort Method</strong>
                </div>
                <div class="column is-two-thirds has-text-dark">
                    <strong>Sort Time In Seconds</strong>
                </div>
            </div>
            <div class="columns">
                <div class="column is-one-third has-text-dark">
                    Python Timsort
                </div>
                <div class="column is-two-thirds has-text-dark">
                    {{ result_times[0] }}
                </div>
            </div>
            <div class="columns">
                <div class="column is-one-third has-text-dark">
                    Merge Sort
                </div>
                <div class="column is-two-thirds has-text-dark">
                    {{ result_times[1] }}
                </div>
            </div>
            <div class="columns">
                <div class="column is-one-third has-text-dark">
                    Pivot Sort
                </div>
                <div class="column is-two-thirds has-text-dark">
                    {{ result_times[2] }}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
